@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');


* {
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}
html {
    touch-action: pan-x pan-y;
    overflow-x: hidden;
}

body {
    background-color: #271001;
}
header {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color: #f6650a9b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a {
    color: #f6650a9b;
    text-decoration: none;
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    color: #ffffff;
    background: #f6650a3a;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.main .mainCon {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 70px 70px 50px 70px;
    border-radius: 18px;
}
.main .mainCon img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #f6650a36 solid 8px;
    margin-bottom: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
.main h2 {
    color: #ffff;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #cb52089b;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: #000 ;
}
.main h3 {
    color:white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color: #f6650a9b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #ff8d469b;
    transform: scale(1.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #ff8d469b;
}
.tittle {
    display: flex;
    justify-content: center;
    color: #ff8d469b;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards {
    background: linear-gradient(#271001,#c5c2c2);
}
.card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    display: inline-block;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.icon {
    color: #ff8d469b;
    font-size: 8em;
    text-align: center;
}
.info h3 {
    color: #ff8d469b;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info {
    text-align: center;
    color: #f0f0f0;
}
.projects{
    background-color: #c5c2c2;
}
.projects .content {
    margin-top: 30px;
}
.project-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}
.project-image img {
    width: 100%;
}
.project-info {
    padding: 1em;
}
.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #ff8d469b;
    transition: all 0.3s ease;
}
.more-details:hover {
    color: #694f3f9b;
}
.cards-contact {
    background-color: #271001;
}
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: #ffffff;
}
.contact {
    align-items: center;
    text-align: center;
}
.contact .info p {
    font-size: 1.1em;
    overflow: hidden;
}
.footer {
    background-color: #000016;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
}
.footer-title span {
    color: #f6650a9b;
}
.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.content .no-project {
    color: #f0f0f0 ;
    font-size: 1.6em;
    font-weight: 700;
    background-color: #3a6cf4;
    border-radius: 8px;
    padding: 0 20px;
    margin: 0 20px ;
    transition: 0.7s ease;
    text-decoration: none;
}
.content .no-project:hover {
    background-color: #0a49f6;
    scale: calc(1.1);
    cursor: pointer;
}
.email {
    background: linear-gradient(#271001,#c5c2c2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f6650a9b;
    text-align: center;
}

form {
    width: 400px;
    padding: 30px 15px;
    margin-top:40px ;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    transition: all 0.7s ease;
}
input {
    font-size: 10px;
    opacity: 0.7;
    margin: 6px 0 5px 0;
    padding: 10px 30px;
    border: none;
    border-radius: 18px;
    transition: all 0.3s ease;
    outline: none;
    min-width: 200px;
    background: #271001;
    color: #f0f0f0;
}
input:hover , input:focus {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.massage {
    border:none;
    opacity: 0.7;
    border-radius: 18px;
    padding: 10px 8px;
    outline: none;
    min-height: 50px;
    min-width: 200px;
    background: #271001;
    color: #f0f0f0;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    height: 70px;
}
.massage:hover , .massage:focus {
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.elabel {
    font-weight: 800;
    text-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.emailBtn{

    outline: none;
    color: white;
    background-color: #f6650a9b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    border: #f6650a74 solid 3px;
    transition: 0.3s ease;
}
.emailBtn:hover {
    background: none;
    color: #f6650a9b;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.error {
    display: none;
}
.list {
    display: none;
}
@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation {
        padding-left: 10px;
    }
    .tittle {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px) {
    body {
        font-size: 12px;
    }
    .main h2 {
        font-size: 0.8em;
    }
    .main h3 {
        font-size: 1.4em;
    }
}
@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    .email {
        padding: 20px 10px;
    }

    form {
        padding: 20px 10px;
        border-radius: 20px;
    }

    input,
    .massage {
        font-size: 12px;
        padding: 10px 15px;
    }

    .emailBtn {
        font-size: 1em;
        padding: 12px 20px;
    }
}
@media (max-width: 768px) {
    form {
        max-width: 350px;
    }
}
